<div class="row m-3 mt-5">
    <div class="accordion" id="accordionExample">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
              <h4>Hard and Soft Skils</h4>
            </button>
          </h2>
          <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                    <div class="row d-flex">
                        <div class="mt-3">
                            <div class="progress" style="height: 1px;">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                              <div class="progress" style="height: 20px;">
                                <div class="progress-bar bg-success" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                        </div>
                    </div>
                    <div>
                        <h5 class="text-center mt-1">
                            Resolucion de problemas
                        </h5>
                    </div>


                    <div class="mt-5">
                            <div class="progress" style="height: 1px;">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                              <div class="progress" style="height: 20px;">
                                <div class="progress-bar bg-info" role="progressbar" style="width: 75%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
                              </div>
                        </div>
                        <div>
                            <h5 class="text-center mt-1">
                                Diseño de Sistemas
                            </h5>
                        </div>
                </div>
            </div>
          </div>
        </div>


        <div class="accordion-item mt-5">
          <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
              <h4>Proyectos</h4>
            </button>
          </h2>
          <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <div class="row">
                    <div class="row">
                        <div class="col-6 flex-column">
                            <div>
                                <h5 class="text-uppercase mt-3 mb-3">
                                    desarrollo de app movil
                                </h5>
                            </div>
                            
                            <div class="mb-3">
                                <h6>Tecnologias Utilizadas</h6>
                            </div>

                            <div class="d-flex">
                                <div>
                                    <a href="https://developer.android.com/studio?hl=es-419&gclid=Cj0KCQjwuaiXBhCCARIsAKZLt3ltpovEQTpbB5m8tdh0kASDDg5Ql_gGW1zJSQm4Qy_eV7uEAk_KahwaAlwMEALw_wcB&gclsrc=aw.ds" target="_blank">
                                        <img src="./assets/Logos/android-studio-logo.png" alt="Logo Android studio" class="Logos-proyecto img-fluid img-thumbnail">
                                    </a>
                                    <p class="mt-2">
                                        <b class="text-uppercase">android studio</b>
                                    </p>
                                </div>
                                <div>
                                    <a href="https://nativescript.org/" target="_blank">
                                        <img src="./assets/Logos/NativeScript-logo.png" alt="Logo Native script" class="Logos-proyecto img-fluid img-thumbnail">
                                    </a>
                                    <p class="mt-2">
                                        <b class="text-uppercase">NativeScript</b>
                                    </p>
                                </div>
                                <div class="flex-colunm">
                                    <a href="https://nodejs.org/es/" target="_blank">
                                        <img src="./assets/Logos/nodejs-logo.png" alt="Logo Node.js" class="Logos-proyecto img-fluid img-thumbnail">
                                    </a>
                                    <p class="mt-2">
                                        <b class="text-uppercase">Node.js</b>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
          </div>
        </div>
      </div>
</div>
