.imgPerfil {
    width: 125px; 
    height: 125px;
    border: 5px inset aquamarine;
    border-radius: 25%;
}

.bordeDivAcercaDe {
    border-width: 2px;
    border-style:  hidden ridge ridge ridge;
    border-color: rgb(76, 151, 147);
    
    
}

.oculto {
    display: none;
}