.imgPerfil {
    width: 125px; 
    height: auto;
    border: 5px inset aquamarine;
    border-radius: 25%;
}

.bordeDivAcercaDe {
    border-width: 2px;
    border-style:  hidden ridge ridge ridge;
    border-color: rgb(76, 151, 147);
}

.oculto {
    display: none;
}

.Imgport {
    width: 100%;
    height: 400px;
    display: block;
    position: relative;
    margin: auto;
    border-radius: 10%;
}

button.hover-Green:hover{
    background-color: rgb(106, 248, 182);
}