.logoIpem {
    height: 150px;
    width: 150px;
}

.bordeDiv {
    border-width: 1px;
    border-style: ridge;
    border-color: lightsteelblue;
}

.oculto {
    display: none;
}

button.hover-Green:hover{
    background-color: rgb(106, 248, 182);
}